.nav-pills-center {
  text-align: center;
}

.nav-pills-center > li {
  float: none;
  display: inline-block;
}

.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}

.restaurant-item h3 a {
  color: black;
  text-decoration: none;
}
.restaurant-item h3 a:hover {
  color: #FF5511;
}

.bl {
  margin-bottom: 15px;
}

.edit_user img {
  width: 50px;
  margin: 10px;
}

.my-restaurant {
  display: inline-block;
  text-align: center;
  padding: 7px 7px 0 7px;
}
 
 .my-restaurant > div {
  height: 60px;
}
 
 .my-restaurant img {
  max-height: 100%;
}
 
 .panel a:hover .my-restaurant {
  background-color: #eee;
}